/* Direktif Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kelas kustom untuk memotong teks di 2 baris,
   Implementasi manual yang umum digunakan.
*/
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}